#md-invoice .cust-info p {
    font-size: 15px;
    margin: 0px;
}

#md-invoice table thead {
    font-size: 15px !important;
    color: white !important;
    background-color: #228442 !important;
}

#md-invoice table tbody {
    font-size: 15px !important;
}

#md-invoice .cust-info {
    margin-top: 10px;
}